.headline {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: 0em;
  color: var(--colors-text-color);
}

.create-event-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.create-event-input {
  display: flex;
  height: 44px;
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-secondary-hint-color);
  border: none;
}


.create-event-input:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.create-event-input:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.during-event-block {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border-radius: 12px;
  background: var(--colors-bg-color);
  padding: 0 16px;
}

.all-day-block {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between;
}

.all-day-block:first-child {
  border-bottom: 0.50px solid var(--colors-divider);
}

.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-text-color);
}

.indicates {
  width: 198px;
  height: 36px;
}

.indicate-date {
  background: var(--colors-bg-plain);
  border: none;
  border-radius: 10px;
  width: 123px;
  height: 36px;
  text-align: center;
}

.indicate-time {
  border-radius: 10px;
  width: 71px;
  height: 36px;
  background: var(--colors-bg-plain);
  border: none;
  text-align: center;
}

.start-event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.50px solid var(--colors-divider);
  padding: 4px 0;
}

.end-event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.event-add-members {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  height: 44px;
  align-items: center;
}

.add-member {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--colors-system-blue);
  text-decoration: none;
}

.event-select-video-option {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border-radius: 12px;
  background: var(--colors-bg-color);
  padding: 0 16px;
}

.event-description__area {
  border-radius: 12px;
  width: 100%;
  height: 164px;
  background: var(--colors-bg-color);
  margin-top: 24px;
  border: none;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-secondary-hint-color);
  box-sizing: border-box;
}

.create-event-button {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-white-global);
  border-radius: 10px;
  padding: 15px 12px;
  width: 100%;
  height: 50px;
  min-width: 50px;
  background: var(--colors-system-blue);
  opacity: 0.35;
  margin-top: 24px;
  border: none;
  cursor: pointer;
}

.swithcer {}

/* Стили для переключателя (switcher)  */

.toggle-switch {
  position: relative;
  display: flex;
  border-radius: 100px;
  width: 51px;
  height: 31px;
  background: var(--colors-bg-secondary-color);
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  transition: background-color 0.2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

input:checked+.slider {
  background: var(--colors-green);
}



input:checked+.slider::before {
  transform: translateX(19px);
  transition: .5s;
}