.create-event__wrapper {
  height: auto;
}

.headline {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: 0em;
  color: var(--colors-text-color);
}

.create-event-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.create-event-input {
  display: flex;
  height: 44px;
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  /* color: var(--colors-secondary-hint-color); */
  border: none;
}


.create-event-input:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
  background: var(--colors-bg-color);
}

.create-event-input:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: none;
  background: var(--colors-bg-color);
}

.during-event-block {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border-radius: 12px;
  background: var(--colors-bg-color);
  padding: 0 16px;
}

.create-event__calendar-month-indication {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 16px 0px;
}

.right-arrow {
  margin-left: auto;
  margin-right: 0;
}

.create-table-month {
  padding: 0;
}

.create-event__calendar-section-month {
  display: flex;
  justify-content: center;
  position: relative;
}

.left-arrow {
  margin-left: 0;
  margin-right: auto;
}

.all-day-block {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between;
}

.all-day-block:first-child {
  border-bottom: 0.50px solid var(--colors-divider);
}

.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-right: 10px;
  width: fit-content;
  color: light-dark(white, black);
  transition: 1s;
}

.name-dark {
  color: var(--colors-text-color);
}

.indicates {
  display: flex;
}

.indicate-date {
  background: var(--colors-bg-plain);
  border: none;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 36px;
  margin-right: 4px;
  max-width: 90px;
  outline: none;
}

.indicate-time {
  border-radius: 10px;
  width: 71px;
  height: 36px;
  background: var(--colors-bg-plain);
  border: none;
  text-align: center;
}

.day-month {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.50px solid var(--colors-divider);
  padding: 8px 3px 12px 16px;
}

.table-month {
  padding: 0 16px;
  width: 100%;
  overflow: hidden;
}

.disable {
  background: var(--colors-green);
  opacity: 0.4;
}

.start-event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  transition: 1s;
  border-top: 0.50px solid var(--colors-divider);
}

.end-event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  transition: 1s;
  border-top: 0.50px solid var(--colors-divider);
}

.event-add-members {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  height: 44px;
  align-items: center;
}

.add-member {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--colors-system-blue);
  text-decoration: none;
}

.event-select-video-option {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border-radius: 12px;
  background: var(--colors-bg-color);
  padding: 0 16px;
}

.event-description__area {
  border-radius: 12px;
  width: 100%;
  height: 164px;
  background: var(--colors-bg-color);
  margin-top: 24px;
  border: none;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-secondary-hint-color);
  box-sizing: border-box;
}

.create-event-button {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-white-global);
  border-radius: 10px;
  padding: 15px 12px;
  width: 100%;
  height: 50px;
  min-width: 50px;
  background: var(--colors-system-blue);
  opacity: 0.35;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}

.create-event__calendar_item {
  display: none;
  width: 100%;
  justify-content: space-between;
  transition: 1s;
}

.create-event__calendar_item--show {
  display: flex;
}

.create-event__section-calendar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  position: relative;
  transition: 1s;
}

/* Стили для переключателя (switcher)  */

.switch-btn {
  display: inline-block;
  border-radius: 19px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  width: 51px;
  height: 31px;
}

.switch-btn-video-conf {
  display: inline-block;
  border-radius: 19px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  width: 51px;
  height: 31px;
}

.switch-btn::after {
  content: "";
  border-radius: 100px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06), 0 3px 8px 0 var(--colors-divider), 0 0 0 1px rgba(0, 0, 0, 0.04);
  background: var(--colors-white-global);
  width: 27px;
  height: 27px;
  border-radius: 17px;
  top: 2px;
  left: 3px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-btn-video-conf::after {
  content: "";
  border-radius: 100px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06), 0 3px 8px 0 var(--colors-divider), 0 0 0 1px rgba(0, 0, 0, 0.04);
  background: var(--colors-white-global);
  width: 27px;
  height: 27px;
  border-radius: 17px;
  top: 2px;
  left: 3px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #118c4e;
}

.switch-on-conf {
  background: #118c4e;
}

.switch-on::after {
  left: 20px;
}

.switch-on-conf::after {
  left: 20px;
}