.headline {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: 0em;
}

.create-event-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.create-event-input {
  display: flex;
  height: 44px;
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  /* color: var(--colors-secondary-hint-color); */
  border: none;
}


.create-event-input:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
  background: var(--colors-bg-color);
}

.create-event-input:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: none;
  background: var(--colors-bg-color);
}

.during-event-block {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border-radius: 12px;
  background: var(--colors-bg-color);
  padding: 0 16px;
}

.create-event__calendar-month-indication {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 16px 0px;
}

.right-arrow {
  margin-left: auto;
  margin-right: 0;
}

.create-table-month {
  padding: 0;
}

.create-event__calendar-section-month {
  display: flex;
  justify-content: center;
  position: relative;
}

.left-arrow {
  margin-left: 0;
  margin-right: auto;
}

.all-day-block {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between;
}

.all-day-block:first-child {
  border-bottom: 0.50px solid var(--colors-divider);
}

.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-right: 10px;
  width: fit-content;
  color: light dark(black, white);
}

.name-dark {
  color: var(--colors-text-color);
}

.indicates {
  display: flex;
}

.indicate-date {
  background: var(--colors-bg-plain);
  border: none;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 36px;
  margin-right: 4px;
  max-width: 90px;
}

.indicate-time {
  border-radius: 10px;
  width: 71px;
  height: 36px;
  background: var(--colors-bg-plain);
  border: none;
  text-align: center;
}

.day-month {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.50px solid var(--colors-divider);
  padding: 8px 3px 12px 16px;
}

.table-month {
  padding: 0 16px;
  width: 100%;
  overflow: hidden;
}

.disable {
  background: var(--colors-green);
  opacity: 0.4;
}

.start-event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.50px solid var(--colors-divider);
  padding: 4px 0;
}

.end-event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.event-add-members {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  height: 44px;
  align-items: center;
}

.add-member {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--colors-system-blue);
  text-decoration: none;
}

.event-select-video-option {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border-radius: 12px;
  background: var(--colors-bg-color);
  padding: 0 16px;
}

.event-description__area {
  border-radius: 12px;
  width: 100%;
  height: 164px;
  background: var(--colors-bg-color);
  margin-top: 24px;
  border: none;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-secondary-hint-color);
  box-sizing: border-box;
}

.create-event-button {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-white-global);
  border-radius: 10px;
  padding: 15px 12px;
  width: 100%;
  height: 50px;
  min-width: 50px;
  background: var(--colors-system-blue);
  opacity: 0.35;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}


/* Стили для переключателя (switcher)  */

.toggle-switch {
  position: relative;
  display: flex;
  border-radius: 100px;
  width: 51px;
  height: 31px;
  background: var(--colors-bg-secondary-color);
}

.toggle-switch:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 0px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  transition: background-color 0.2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

input:checked+.slider {
  background: var(--colors-green);
}

input:checked+.slider::before .start-event-block {
  display: none;
}

input:checked .start-event-block {
  display: none;
}

.switcher {
  display: flex;
}

.switch-on {
  display: flex;
}

.switch-off {
  display: none;
}

#toggle-switch-all-day:checked+.slider::before,
#toggle-switch-video-conf:checked+.slider::before {
  transform: translateX(19px);
  transition: .5s;
}

.section-calendar-open {
  display: none;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}