@import url('css/record.css');
@import url('css/create-event.css');
@import url('css/event.css');
@import url('css/record.css');
@import url('css/events-list.css');
@import url('css/settings.css');
@import url('css/settings-without-subscription.css');



:root {
  --colors-bg-color: #fff;
  --colors-text-color: #000;
  --colors-bg-secondary-color: #f2f2f7;
  --colors-divider: rgba(0, 0, 0, 0.15);
  --colors-red: #ff3b30;
  --colors-secondary-hint-color: #a2acb0;
  --colors-bg-plain: rgba(11, 11, 37, 0.05);
  --colors-bg-tertiary-color: #f4f4f7;
  --colors-green: #34c759;
  --colors-subtitle-text-color: #797979;
  --colors-white-global: #fff;
  --colors-black-global: #000;
  --colors-system-blue: #007aff;
  --colors-system-figma-not-used: #9747ff;
  --colors-system-blue-150: rgba(0, 122, 255, 0.15);
  --colors-bg-overlay: #fff;
  --colors-bg-menu: rgba(255, 255, 255, 0.75);
  --colors-darken-overlay: rgba(0, 0, 0, 0.2);
}

:root {
  --font-family: "SF Pro", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Regular";
  src: url('/fonts/SFProDisplay-Regular.woff2');
}


body {
  background: black;
  height: 100vh;
}

.header-mobile {
  width: 100%;
  height: 54px;
}

.section-name-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 16px;
  width: 100%;
  height: 44px;
}

.close-page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-system-blue);
}

.name-app-block {
  display: flex;
  flex-direction: column;
}

.headline-app {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-text-color);
}

.app-describe {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--colors-subtitle-text-color);
}

.drop-down-menu {
  border-radius: 12px;
  width: 250px;
  height: 132px;
  box-shadow: 0 0 32px 0 var(--colors-darken-overlay);
  background: var(--colors-bg-overlay);
  position: absolute;
  top: 40px;
  transition: .5s;
  opacity: 0;
}

.drop-down-menu-active {
  opacity: 1;
}

.item-drop-down {
  border-bottom: 0.50px solid var(--colors-divider);
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: anchor-center;
  justify-content: space-between;
}

.drop-down__img {
  fill: black;
}

.item-drop-down:hover .drop-down__img {
  fill: #007AFF;
}

.drop-down__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-text-color);
}

.item-drop-down:hover .drop-down__text {
  color: #007AFF;
}

.calendar-drop-icon {
  width: 24px;
  height: 24px;
  fill: #007AFF;
  margin-left: 0;
  margin-right: auto;
  position: relative;
  cursor: pointer;
}

.calendar-month-indication {
  width: 163px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.calendar-section-month {
  display: flex;
  justify-self: center;
  margin: 17px;
  position: relative;
}

.meeting-marked {
  border-radius: 90px;
  width: 6px;
  height: 6px;
  background: var(--colors-system-blue);
  display: flex;
}

.app-optional {
  padding: 11px 0px 11px 16px;
  background: none;
  border: none;
}

.right-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.calendar-month-text {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-text-color);
}

.main__section-body {
  background: var(--colors-bg-secondary-color);
  border-radius: 15px 15px 0 0;
}

.calendar__week {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  align-items: center;
}

.main__section-calendar {
  display: flex;
  justify-content: space-between;
}

.section-calendar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-week-row {
  width: auto;
}

.border-stripe {
  border-radius: 8px;
  width: 4px;
  background: var(--colors-system-blue);
}

tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.50px solid var(--colors-divider);
  padding: 8px 16px 12px 16px;
}

.day {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-text-color);
}

.meeting-marked {
  display: none;
}

.day-week {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--colors-secondary-hint-color);
  width: 40px;
}

.day {
  width: 40px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--colors-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section-events {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--colors-subtitle-text-color);
  padding: 16px 16px 16px 16px;
  flex-direction: column;
  overflow-y: scroll;
}

.section-event-block {
  display: flex;
  margin-bottom: 16px;
}

.section-event {
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  width: auto;
}


.name-event {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--colors-text-color);
}


.button-event-add {
  border-radius: 90px;
  width: 56px;
  height: 56px;
  border: none;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 20px 1px var(--colors-divider);
  background: var(--colors-bg-overlay);
}

.button-event-add:hover {
  box-shadow: 0 5px 20px 1px var(--colors-divider);
}

.button-event-plus {
  position: absolute;
  fill: #007AFF;
}

footer {
  border-top: 0.50px solid var(--colors-divider);
  display: flex;
  height: 85px;
  backdrop-filter: blur(50px);
  justify-content: space-between;
  background-color: var(--colors-bg-secondary-color);
}

.footer__contols-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  padding: 8px 16px;
  align-items: baseline;
}

.footer__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events,
.self-recorder,
.settings,
.describe-options {
  fill: #A2ACB0
}

.calendar {
  fill: #007AFF;
}

.icon__describe-calendar {
  color: #007AFF;
}


.footer__icon:hover svg {
  transition: 1s;
  fill: #007AFF;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.footer__icon:hover .icon__describe {
  color: #007AFF;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}



.icon__describe-calendar {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--colors-system-blue);
}

.icon__describe-self-recorder,
.icon__describe-events,
.icon__describe-settings {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--colors-secondary-hint-color);
}